<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

  <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
    <h3><i class="material-icons">chat_bubble_outline</i> Friendly Chat - NG2</h3>
  </div>

  <div id="user-container">
    <div *ngIf="isAuthed" id="user-pic" [ngStyle]="{'background-image': 'url(' + profilePicUrl + ')'}"></div>
    <div *ngIf="isAuthed" id="user-name">{{userName}}</div>
    <button *ngIf="isAuthed" (click)="onClickSignOut()" id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
      Sign-out
    </button>
    <button *ngIf="!isAuthed" (click)="onClickSignIn()" id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
      <i class="material-icons">account_circle</i>Sign-in with Google
    </button>
  </div>

</div>